.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  border-style:solid;
}
.circle {
  position: absolute;
  background-color: red;
  border-radius: 50%;
  left: -10px;
  top: -10px;
  width: 20px;
  height: 20px;
}